main{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.mycontiner{
    margin: auto;
}
.reviews{
    width:300px;
    margin-top: 40px;
    box-shadow:0 0 10px 10px rgba(131,131,131,0.3);
    padding: 20px;
    background-color:#fff;
    position: relative;
    height: auto;

}
.reviews img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.reviews-button{
    position: absolute;
    right: 0;
    bottom: 0;
}

.myline{
    width: 150px;
    padding-bottom: 15px;
    border-bottom:4px solid red;
    margin: 0 auto;
    
}
